@import url(/css/reset.css);


body{
    color: #7D7D7D;
}
.care_section {
    margin-bottom: 100px;
    font-family: Inter;
}
.care_conteiner {
    max-width: 673px;
    margin: 0 auto;
}
.welcome_text{
    margin-bottom: 43px;
}
.discription {
    color: #37393F;
    font-size: 18px;
    font-weight: 500;
    /* background: #40DDB6; */
    margin-bottom: 16px;
}
.care_title_h2 {
    color: #37393F;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    max-width: 413px;
    margin-bottom: 20px;
}
.text {
    font-size: 18px;
    line-height: 1.46;
    margin-bottom: 15px;
}
.care_title_h3 {
    color: #37393F;
    font-family: Poppins;
    font-size: 20px;
    background: url(/img/Vector.jpg) no-repeat;
    padding-left: 30px;
    margin-bottom: 23px;
}
.box_conteiner {
    display: inline-block;
    max-width: 295px;
    max-height: 140px;
    padding: 32px;
    border: 1px solid #E3E3E3;
}
.box1_img{
    background: url(/img/icon1.jpg) no-repeat;
    padding-left: 60px;
}
.box2_img{
    background: url(/img/icon2.jpg) no-repeat;
    padding-left: 60px;
}
.box_title{
    color: #37393F;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}
.box_text{
    font-size: 16px;
    line-height: 1.35;
}
.more_btn {
}
a{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    display: block;
    padding: 22px 27px;
    background: #6B77E5;
    max-width: 184px;
    max-height: 65px;
    margin-top: 37px;
}
.euphoria_section{
    color: #807D7E;
    font-family: Causten;
}
.euphoria_conteiner h2, h3{
    font-family: Core Sans C;
}
.euphoria_conteiner{
    margin: 0 auto;
    max-width: 1240px;
    padding-left: 21px;
}

.euphoria_title {
    color: #3C4242;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.56px;
    margin-bottom: 30px;
}
.title_e_h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.675;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
}
.eupforia_text {
    font-size: 20px;
    line-height: 1.675;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}
.span {
    font-weight: 600;
}